Repository mash-up-kr/ppoba, pull requests merged in 2023-08, with the labels that each got.

#108 fix: prevent login logic execution when code is empty
  packages/service-frontend/app/login/hooks.ts
Labels: frontend 🍓

#110 feat: add logo and symbol icon
  packages/ui/src/assets/icons/Logo-Black.svg
  packages/ui/src/assets/icons/Logo-Grey.svg
  packages/ui/src/assets/icons/Logo-White.svg
  packages/ui/src/assets/icons/Symbol.svg
  packages/ui/src/components/Icon.tsx
Labels: frontend 🍓

#102 feat: create deck api
  packages/api/src/index.ts
  packages/service-frontend/app/complete/page.tsx
  packages/service-frontend/app/confirm-detail/page.tsx
  packages/service-frontend/app/create-deck/page.tsx
  packages/service-frontend/app/create-title/page.tsx
  packages/service-frontend/store/deck.ts
Labels: frontend 🍓

#107 feat: add normal play
  packages/service-frontend/app/components/common/BottomCta.tsx
  packages/service-frontend/app/deck/[id]/normal/components/NormalCard.tsx
  packages/service-frontend/app/deck/[id]/normal/components/NormalCardBack.tsx
  packages/service-frontend/app/deck/[id]/normal/components/NormalCardFront.tsx
  packages/service-frontend/app/deck/[id]/normal/components/OnboardingFlipOverlay.tsx
  packages/service-frontend/app/deck/[id]/normal/components/OnboardingSlideOverlay.tsx
  packages/service-frontend/app/deck/[id]/normal/layout.tsx
  packages/service-frontend/app/deck/[id]/normal/page.tsx
  packages/service-frontend/app/deck/[id]/page.tsx
  packages/tailwind-config/tailwind.config.js
  packages/ui/src/assets/icons/Touch-White.svg
  packages/ui/src/components/Icon.tsx
Labels: frontend 🍓

#114 fix: decks api fix
  packages/service-backend/src/core/database/Deck.ts
  packages/types/src/dto/createDeckDto.ts
Labels: backend 🐤

#115 feat: implement api call on main api, add 404 and loading page
  packages/service-frontend/app/components/marketplace/game/Game.d.ts
  packages/service-frontend/app/components/marketplace/game/GameCard.tsx
  packages/service-frontend/app/loading.tsx
  packages/service-frontend/app/not-found.tsx
  packages/service-frontend/app/page.tsx
Labels: frontend 🍓

#119 feat: implement api call on detail page
  packages/api/src/index.ts
  packages/service-frontend/app/deck/[id]/normal/components/NormalCard.tsx
  packages/service-frontend/app/deck/[id]/normal/page.tsx
  packages/service-frontend/app/deck/[id]/page.tsx
  packages/service-frontend/app/deck/[id]/play/generateCard.ts
  packages/service-frontend/app/deck/[id]/tarot/page.tsx
Labels: frontend 🍓

#130 feat: refactor list page & overlay + complete extra chores (WIP)
  packages/service-frontend/app/components/common/DesktopSideContents.tsx
  packages/service-frontend/app/components/index.ts
  packages/service-frontend/app/components/marketplace/deck/AllDeckInitialItem.tsx
  packages/service-frontend/app/components/marketplace/deck/AllDeckLastItem.tsx
  packages/service-frontend/app/components/marketplace/deck/MyDeckList.tsx
  packages/service-frontend/app/components/marketplace/deck/index.ts
  packages/service-frontend/app/components/overlay/CreateDeckOverlay.tsx
  packages/service-frontend/app/components/overlay/OnboardingOverlay.tsx
  packages/service-frontend/app/components/overlay/Overlay.d.ts
  packages/service-frontend/app/components/overlay/index.ts
  packages/service-frontend/app/deck/[id]/layout.tsx
  packages/service-frontend/app/deck/[id]/normal/page.tsx
  packages/service-frontend/app/deck/[id]/page.tsx
  packages/service-frontend/app/layout.tsx
  packages/service-frontend/app/page.tsx
  packages/tailwind-config/tailwind.config.js
Labels: frontend 🍓, common

#133 feat: connect my-deck page with api
  packages/service-frontend/app/deck/[id]/page.tsx
  packages/service-frontend/app/my-deck/page.tsx
Labels: frontend 🍓

#137 feat: add shuffle lottie and fix tarot card exit
  packages/service-frontend/app/Alert.tsx
  packages/service-frontend/app/deck/[id]/normal/components/NormalCard.tsx
  packages/service-frontend/app/deck/[id]/normal/components/NormalCardBack.tsx
  packages/service-frontend/app/deck/[id]/normal/page.tsx
  packages/service-frontend/app/deck/[id]/play/Card.tsx
  packages/service-frontend/app/deck/[id]/tarot/components/TaroCardBack.tsx
  packages/service-frontend/app/deck/[id]/tarot/components/TaroCardList.tsx
  packages/service-frontend/app/deck/[id]/tarot/page.tsx
  packages/service-frontend/public/lottie/loadingDeckLottie.json
Labels: frontend 🍓

#134 feat: apply meta-data
  packages/service-frontend/app/deck/[id]/DeckDetail.tsx
  packages/service-frontend/app/deck/[id]/page.tsx
  packages/service-frontend/app/deck/[id]/play/constant.ts
  packages/service-frontend/app/layout.tsx
  packages/service-frontend/app/opengraph-image.png
  packages/service-frontend/app/twitter-image.png
Labels: frontend 🍓

#139 feat: fix-font and resolve chores
  packages/service-frontend/app/deck/[id]/normal/page.tsx
  packages/service-frontend/app/globals.css
Labels: frontend 🍓

#140 feat: implement kakao login logic
  packages/service-backend/src/modules/auth/AuthGuard.ts
  packages/service-frontend/app/LoginHeader.tsx
  packages/service-frontend/app/components/marketplace/deck/MyDeckList.tsx
  packages/service-frontend/app/components/overlay/CreateDeckOverlay.tsx
  packages/service-frontend/app/login/page.tsx
  packages/service-frontend/app/page.tsx
  packages/service-frontend/hooks/useIsLoggedIn.ts
Labels: frontend 🍓, backend 🐤

#141 fix: apply front QA
  packages/service-frontend/app/complete/page.tsx
  packages/service-frontend/app/components/common/Header.tsx
  packages/service-frontend/app/confirm-detail/page.tsx
  packages/service-frontend/app/deck/[id]/play/page.tsx
  packages/service-frontend/app/layout.tsx
Labels: frontend 🍓

#144 feat: fix design qa 2
  packages/service-frontend/app/deck/[id]/DeckDetail.tsx
  packages/service-frontend/app/loading.tsx
Labels: frontend 🍓
